.dashboard-container {
  position: relative;
  height: 100vh;
  width: 100%;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 65px;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-size: 32px;
  font-weight: bold;
}

.logo {
  cursor: default;
}

.main-content {
  width: 100%;
  height: 100%;
  background-image: url("/images/cockpit-view.jpg");
  background-size: cover;
  background-position: center;
}

/* Yeni eklenen 3 bölgeli layout */
.flight-info-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.bottom-center {
  margin-top: auto;
  margin-bottom: 150px;
}

/* Tüm dashboard butonları */
.dashboard-button {
  background: white;
  padding: 20px 35px;
  border-radius: 14px;
  border: none;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}
.dashboard-button:hover {
  transform: scale(1.07);
  transition: 0.25s;
}
