/* src/components/PilotDetailPage.css */
.pilot-detail-container {
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 100vh;
  position: relative;
}

.pilot-detail-container h1 {
  text-align: center;
  color: #333;
  margin-bottom: 40px;
  font-size: 2.5em;
}

.detail-card-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 30px;
}

.pilot-card-detail {
  background-color: #36393f;
  color: white;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  padding: 30px;
  width: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0; /* Küçülmesini engelle */
}

.pilot-image-detail {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #007bff;
  margin-bottom: 20px;
}

.pilot-card-detail h2 {
  font-size: 2em;
  margin-bottom: 8px;
  color: #007bff;
}

.pilot-card-detail p {
  font-size: 1.2em;
  color: #ccc;
}

.pilot-info-panel {
  background-color: #36393f;
  color: white;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.3);
  padding: 30px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pilot-info-panel p, .pilot-info-panel ul {
  font-size: 1.3em;
  margin-bottom: 10px;
  line-height: 1.4;
}

.pilot-info-panel ul {
  list-style-type: disc; /* Liste işaretleri */
  padding-left: 20px;
}

.pilot-info-panel li {
  margin-bottom: 5px;
  color: #ccc;
}